/*
CSS Reset provided by:
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
Color Scheme (credit: http://www.awwwards.com/sites/grosse-lanterne-1/):
- Dark Blue:#05386B
- Dark Green: #379683
- Green: #5CDB95
- Light Green: #8EE4AF
- Beige: #EDF5E1
*/

.header {
    height: 8vh;
    min-height: 50px;
    width: 100vw;
    position: fixed;    /* ensures header is always visible and doesn't scroll off screen */
    top: 0;             /* ensures header stays at top of screen at all times */
    left: 0;
    z-index: 100;       /* ensures it is visble on top of other elements */
}

.left, .right {
    position: relative;
    height: 8vh;
    min-height: 50px;
    background-color: #05386B;
}

.left {
    float: left;        /* moves left side to the left */
    width: 30%;
}

.right {
    float: right;       /* moves right side to the right */
    width: 70%;
}

.name {
    padding-left: 10px;
    font-family: 'Raleway';
    font-size: 2em;
    line-height: 8vh;
    min-height: 50px;
    display: inline-block;
}

.name > a {
    text-decoration: none;
    color: white;
}

.name > a:hover {
    cursor: pointer;
    color: #5CDB95;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    height: 100%;
    height: 8vh;
}

.nav > li {
    float: left;
    height: 100%;
}

.nav > li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 1.5em;
    line-height: 8vh;
    padding-right: 30px;
    text-decoration: none;
}

.nav > li a:hover {
    color: #5CDB95;
    cursor: pointer;
}

footer {
    position: fixed;
    background-color: #5CDB95;
    width: 100vw;
    bottom: 0;
    z-index: 10;
}

body {
    background-color: #5CDB95;
}

footer > p {
    font-family: 'Open Sans';
    font-size: 0.8em;
    float: left;
    display: inline-block;
    padding: 5px;
}

.pull-right {
    float: right;
}

.hide-it {
    display: none !important;
}

.invalid {
    border: 1px solid red;
}

#error-disp {
    position: fixed;
    top: -8vh;
    left: 0;
    width: 100vw;
    background-color: red;
    z-index: 100;
    display: inline-block;
}

#error-disp > p {
    line-height: 8vh;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: white;
    padding-left: 1%;
    display: inline-block;
}

#error-disp > i {
    line-height: 8vh;
    font-size: 1.5em;
    color: white;
    padding-left: 2%;
}

#error-disp > i:hover {
    color: #888;
}

@media only screen and (max-width: 768px) {

    .dropdown {
        display: inline-block;
        width: 100vw;
        position: fixed;
        z-index: -2;
        top: -30vh;
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: linear;
        left: 0;
        border-bottom: 2px solid black;
    }

    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
        height: auto;
        background-color: #5CDB95;
    }

    .nav > li {
        width: 100%;
        clear: both;
    }

    .nav > li a {
        display: block;
        color: black;
        text-align: center;
        font-family: Raleway;
        font-size: 1.4em;
        padding: 2.2vh 2vw;
        height: auto;
        line-height: normal;
        text-decoration: none;
    }

    .nav > li a:hover {
        color: #666;
        cursor: pointer;
    }

    .hide-it {
        display: block !important;
    }

    .right {
        display: block;
        width: 20%;
    }

    .left {
        width: 80%;
    }

    .right > i {
        font-size: 2em;
        line-height: 8vh;
        float: right;
        padding-right: 15px;
        color: white;
    }

    .dropdown:hover, .right > i:hover + .dropdown {
        transition-property: top;
        transition-duration: 0.5s;
        transition-timing-function: linear;
        top: 8vh;
    }
}

@media only screen and (max-width: 425px) {
    footer > p {
        clear: both;
        display: block;
        width: 100%;
        text-align: center;
    }
}
