/*
    CSS Reset provided by:
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Color Scheme (credit: http://www.awwwards.com/sites/grosse-lanterne-1/):
- Dark Blue:#05386B
- Dark Green: #379683
- Green: #5CDB95
- Light Green: #8EE4AF
- Beige: #EDF5E1
 */

.header {
    background-color: #5CDB95;
    height: 8vh;
    min-height: 50px;
    width: 100vw;
    position: fixed;    /* ensures header is always visible and doesn't scroll off screen */
    top: 0;             /* ensures header stays at top of screen at all times */
    left: 0;
    z-index: 100;       /* ensures it is visble on top of other elements */
}

.left, .right, .right-alt {
    position: relative;
    height: 8vh;
    min-height: 50px;
    background-color: #5CDB95;
}

.left {
    float: left;        /* moves left side to the left */
    width: 40%;
}

.right {
    float: right;       /* moves right side to the right */
    width: 60%;
}

.name {
    padding-left: 10px;
    font-family: Raleway;
    font-size: 2em;
    line-height: 8vh;
    min-height: 50px;
    display: inline-block;
}

.name > a {
    text-decoration: none;
    color: black;
}

.name:hover {
    cursor: pointer;
    color: #05386B;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    height: 100%;
}

.nav > li {
    float: left;
    height: 100%;
}

.nav > li a {
    display: block;
    color: black;
    text-align: center;
    font-family: Raleway;
    font-size: 1.4em;
    padding: 2.2vh 1.5vw;
    text-decoration: none;
}

.nav > li a:hover {
    color: #05386B;
    cursor: pointer;
}

.right-alt {
    display: none;
    float: right;
    width: 60%;
}

.right-alt > i {
    font-size: 2em;
    line-height: 8vh;
    float: right;
    padding-right: 15px;
}

.dropdown:hover, .right-alt > i:hover + .dropdown {
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    top: 8vh;
}

.dropdown {
    display: inline-block;
    background-color: #5CDB95;
    width: 100vw;
    position: fixed;
    z-index: -2;
    top: -30vh;
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    left: 0;
    border-bottom: 2px solid white;
}

.nav-alt {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-alt > li a {
    display: block;
    color: white;
    background-color: #05386B;
    text-align: center;
    font-family: Raleway;
    font-size: 1.4em;
    padding: 2.2vh 2vw;
    text-decoration: none;
}

.nav-alt > li a:hover {
    color: #BBB;
    cursor: pointer;
}

footer {
    position: fixed;
    background-color: #5CDB95;
    width: 100vw;
    bottom: 0;
    z-index: 10;
}

body {
    background-color: #5CDB95;
}

footer > p {
    font-family: 'Open Sans';
    font-size: 0.8em;
    float: left;
    display: inline-block;
    padding: 5px;
}

.pull-right {
    float: right;
}

@media only screen and (max-width: 768px) {
  .right {
      display: none;
  }

  .right-alt {
      display: block;
      width: 20%;
  }

  .left {
      width: 80%;
  }
}

@media only screen and (max-width: 425px) {
    footer > p {
        clear: both;
        display: block;
        width: 100%;
        text-align: center;
    }
}
