.main {
    width: 100vw;
    display: inline-block;
    background-color: #05386B;
    padding-bottom: 1%;
    padding-top: 10%;
}

.main > div {
    margin: 0 20vw;
}

.item {
    background-color: #999;
    /* height: 30vh; */
    width: 60vw;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.tab {
    width: 100vw;
    display: inline-block;
    text-align: center;
}

.img {
    height: 30vh;
    margin-bottom: 2%;
}

.img > img {
    width: auto;
    height: 100%;
}

.detail {
    margin-right: 5%;
}

.detail > a {
    text-decoration: none;
}

.detail > a:hover {
    color: #05386B;
}

.detail p, .detail i, .detail a {
    color: white;
    padding-bottom: 10px;
    font-size: 1.3em;
}

.detail p, .detail a {
    font-family: 'Open Sans';
}

.wifis {
    width: 100%;
    text-align: right;
}

.detail .pull-left {
    margin-left: 10px;
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.review-btn {
    background-color: white !important;
}

button {
    border: none;
    font-family: 'Open Sans';
    font-size: 1.1em;
    border-radius: 2px;
    padding: 5px;
}

.comments {
    clear: both;
    padding: 5%;
}

.comments > h2 {
    color: white;
    font-family: 'Open Sans';
    font-size: 1.4em;
}

.comment {
    padding: 5%;
    border-bottom: 1px solid white;
}

.comment p {
    color: white;
    font-family: 'Open Sans';
    font-size: 1em;
    display: inline-block;
}
