.main {
    width: 100vw;
    display: inline-block;
    background-color: #05386B;
    padding-bottom: 1%;
    padding-top: 5%;
}

.main > div {
    margin: 0 15vw;
    margin-bottom: 5%;
}

.item {
    background-color: #999;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.tab {
    width: 100vw;
    display: inline-block;
    text-align: center;
}

.img {
    margin-bottom: 2%;
    display: inline-block;
    position: relative;
}

.img > img {
    width: 100%;
    height: auto;
}

.right-switch {
    right: 0;
}

.right-switch > i {
    right: 15%;
}

.left-switch {
    left: 0;
}

.left-switch > i {
    left: 15%;
}

.switch {
    height: 100%;
    position: absolute;
    top: 0;
    width: 10%;
    text-align: center;
}

.switch > i {
    position: absolute;
    top: 45%;
    color: white;
}

.switch > i:hover {
    color: #666;
}

.detail {
    margin: 0 5%;
}

.detail p, .detail i {
    color: white;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.detail p, .detail a {
    font-family: 'Open Sans';
}

.wifis {
    width: 100%;
    text-align: right;
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.review-btn {
    background-color: white !important;
}

button {
    border: none;
    font-family: 'Open Sans';
    font-size: 1.1em;
    border-radius: 2px;
    padding: 5px;
}

.comments {
    clear: both;
    padding: 5%;
}

.comment > .pull-left {
    margin-left: 0;
}

.comments > h2 {
    color: white;
    font-family: 'Open Sans';
    font-size: 1.4em;
    padding-bottom: 5%;
}

.comment {
    padding: 5%;
    border-top: 1px solid white;
}

.comment p {
    color: white;
    font-family: 'Open Sans';
    font-size: 1em;
    display: inline-block;
}

#map {
    margin-top: 10%;
    clear: both;
    width: 40vw;
    height: 50vh;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {

    .main > div {
        margin-top: 10%;
    }

    #map {
        width: 60vw;
    }

    .detail .pull-right > p, .detail .pull-right > i  {
        float: left;
    }

    .detail .pull-right {
        float: left;
    }

}

.google-mark a, .google-mark p {
    color: black;
    font-size: 1em;
}

@media only screen and (max-width: 425px) {

    .main {
        padding: 20% 0;
    }

    .main > div {
        margin: 0 5vw;
    }

    .img {
        height: 20vh;
    }
}
