RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^search/?$    static/search.php    [NC,L]
RewriteRule    ^signup/?$    static/signup.php    [NC,L]
RewriteRule    ^results/?$    static/results.php    [NC,L]
RewriteRule    ^detail/([0-9]+)/?$    static/detail.php?id=$1    [NC,L]
RewriteRule    ^review/?$    static/review.php    [NC,L]
